{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: thistle">

    <img src="{% static "images/logo.jpeg" %}" width="30" height="30" class="d-inline-block align-top" alt="">
    <a class="navbar-brand" href="{% url 'index' %}">HobbyHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'create article' %}">Create article</a>
        </div>
    </div>

    <form class="form-inline">
        <div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
    </form>

</nav>
