{% load static %}
<div class="container-fluid cards-row">
    <div class="container">
        <div id="wrapper"{% comment %}class="row"{% endcomment %}>
            {% for article in articles %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ article.image.url }}" class="img-thumbnail"/>
                        <div class="caption">
                            <div class="title-bar">
                                <h3 class="float-right">{{ article.title }}</h3>
                            </div>

                            <div>
                                <a href="{{ article.url }}" target="_blank" class="btn-custom btn-primary float-md-left "
                                   role="button">Open Article</a>

                                <a href="{% url 'article details' article.id %}" target="_blank" class="btn-custom btn-primary float-md-right"
                                   role="button">Details</a>
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
