{% load static %}
<div class="container-fluid cards-row">
    <div class="container">
        <div id="wrapper"{% comment %}class="row"{% endcomment %}>
            {% for article in articles %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ article.image.url }}" class="img-thumbnail"/>
                        <div class="caption">
                            <div class="title-bar">
                            <h3 class="float-right">{{ article.title }}</h3>
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn"><img src="{% static 'images/menu.png'%}" class="float-md-right"></button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="{% url 'edit article' article.id %}">Edit</a>
                                    <a href="#about">Delete</a>
                                </div>
                            </div>
                                </div>
                            <p class="card-description">{{ article.description }}</p>


                            <p align="center">
                                <a href="{{ article.url }}" target="_blank" class="btn btn-primary"
                                   role="button">Open</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
